body{
    background-color: rgb(238, 137, 130);
    padding: 0%;
    margin-left: 0px;
    margin-top: -10px;
    
    }

h1{
    color: rgb(20, 1, 5);
    font-size: 36px;
    font-family: 'Caveat';

}

h2{
    color: white;
}

.p-strawb{
    color: rgb(211, 8, 120);
}

table{
    border: 4px red dashed;
    padding: 3px;
    margin: 3px;
}

th{
    border: 2px black solid;
    padding: 20px;
}

td{
    border: 2px black solid;
    padding: 10px;
}

header{
    background-color: rgb(245, 83, 96);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0; 
    box-shadow: 2px 2px 25px 15px rgb(116, 25, 32);
}

#image-header{
    height:20vw;
    max-height: 110px;
    margin-top: 0px;
    width:auto
     
}

.image-header{
    float: left;
}


.header{
    display: inline-block;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
}

a{
    color: gold;
    margin: 0% 5% 0% 5%;
    padding: 0% 3%;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(245, 83, 96);
    box-shadow: 3px 3px 15px 3px rgb(116, 25, 32);
    font-family: 'Caveat';
}

a:hover{
    color: rgb(245, 83, 96);
    background-color: gold;
}

.title{
    margin: 0px;
    margin-bottom: 2.5%;
    display: inline-block;
    
}

#iframe1{
margin-top: 75px;
}