body{
    background-color: rgb(255, 180, 180);
    padding: 0%;
    margin-left: 0px;
    margin-top: -3px;
    font-family: 'Oswald';
    }

h1{
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-family: 'Oswald';
    text-shadow: 1px 1px 15px white;
}

header{
    background-color: rgb(245, 83, 96);
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 0;
    margin-bottom: 25px; 
    box-shadow: 2px 2px 25px 10px rgb(116, 25, 32);
}

#image-header{
    height:20vw;
    max-height: 110px;
    margin-top: 0px;
    width:auto
     
     
}

.image-header{
    float: left;
    
}


.header{
    display: inline-block;
       
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    margin-left: 10%;
}

a{
    color: gold;
    text-shadow: 1px 1px black;
    margin: 0.75% 0.5% 0% 0.5%;
    padding: 0% 1%;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgb(255, 180, 180);
    border-radius: 20%;
    background-color: rgb(245, 83, 96);
    box-shadow: 2px 2px 12px 5px  rgb(116, 25, 32);
    box-shadow: 1px 1px 15px inset rgb(107, 3, 3);
    font-family: 'Oswald';
    
}

a:hover{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}



.title{
    margin: 0px;
    margin-bottom: 2.5%;
    display: inline-block;
    text-shadow: 3px solid gold;
    
}

.headerbutton{
    float: right;
    text-align: center;
    padding: 0px 0px;
    width: 130px;
}


.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 180, 180);
    color: rgb(245, 83, 96);
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 20%;
    margin-left: -60px;
    border: 1px solid white;
    box-shadow: 2px 2px 12px 5px  rgb(116, 25, 32);
    box-shadow: 1px 1px 15px inset rgb(107, 3, 3);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 150%;
    margin-left: -5px;
}

#facebookicon:hover #tooltipfacebook {
    visibility: visible;
}

#twittericon:hover #tooltiptwitter {
    visibility: visible;
}

#tiktokicon:hover #tooltiptiktok {
    visibility: visible;
}

#discordicon:hover #tooltipdiscord {
    visibility: visible;
}

#instagramicon:hover #tooltipinstagram {
    visibility: visible;
}

#linkedinicon:hover #tooltiplinkedin {
    visibility: visible;
}

#youtubeicon:hover #tooltipyoutube {
    visibility: visible;
}

#homepage{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#Contactus{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#gallery{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#history{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#info{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#lineup{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#news{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#shop{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

#takepart{
    color: rgb(245, 83, 96);
    background-color: rgb(255, 180, 180);
}

.grid-container1 {
    display: grid;
    grid-template-areas: "headareaone headareaone headareaone headareatwo"
                         'imagearea1 imagearea2 imagearea3 imagearea4'
                         'imagearea5 imagearea6 imagearea7 imagearea8'
                         'imagearea9 imagearea10 imagearea11 imagearea12'
                         "imagearea13 imagearea14 imagearea15 imagearea16"
                         "imagearea17 imagearea18 imagearea19 imagearea20";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto; 
    gap: 0px;
    background-color: rgb(255, 180, 180);
    margin: 5px;
    padding: 0.2%;
    border: 0px solid rgb(255, 255, 255);
    box-shadow: inset 10px 10px 100px 150px rgb(245, 83, 96), 0px 0px 50px 5px rgb(116, 25, 32);
 }

.grid-container1 img  {
    width: 100%;
}

.imggallery{
    max-height: 250px;
    max-width: 99%;
    z-index: 0;
    padding: 0.5%;
    margin-right:0% ;
    opacity: 0.7;
    line-height: 0.5%;
    
}

.grid-container1 img:hover{
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
}

#imagearea1 {
    width: 100%;
}

#imagearea2 {
    width: 100%;
}

#imagearea3 {
    width: 100%;
}

#imagearea4 {
    width: 100%;
}

#imagearea5 {
    width: 100%;
}

#imagearea6 {
    width: 100%;
}

#imagearea7 {
    width: 100%;
}

#imagearea8 {
    width: 100%;
}

#imagearea9 {
    width: 100%;
}

#imagearea10 {
    width: 100%;
}

#imagearea11 {
    width: 100%;
}

#imagearea12 {
    width: 100%;
}

#imagearea13 {
    width: 100%;
}

#imagearea14 {
    width: 100%;
}

#imagearea15 {
    width: 100%;
}

#imagearea16 {
    width: 100%;
}

#imagearea17 {
    width: 100%;
}

#imagearea18 {
    width: 100%;
}

#imagearea19 {
    width: 100%;
}

#imagearea20 {
    width: 100%;
}

.divgallery1{
    grid-area: headareaone;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 180, 180);
    box-shadow: inset 10px 10px 100px 25px rgb(240, 104, 115)
}

.divgallery2{
    grid-area: headareatwo;
    width: 100%;
    background-color: rgb(255, 180, 180);
    box-shadow: inset 10px 10px 100px 25px rgb(240, 104, 115);
}

@media screen and (max-width: 500px) and (min-width: 0px) {
    a {font-size: 12px;}
    a:hover {font-size: 150%}
    h1 {font-size: 26px;}
    img{
        max-height: auto;
        max-width: 99%;
    }
    .footercontact{
        font-size: 16px;
    }
    .grid-container1{
        grid-template-areas:"headareaone"
                            "headareatwo"
                            "imagearea1"
                            "imagearea2"
                            "imagearea3"
                            "imagearea4"
                            "imagearea5"
                            "imagearea6"
                            "imagearea7"
                            "imagearea8"
                            "imagearea9"
                            "imagearea10"
                            "imagearea11"
                            "imagearea12"
                            "imagearea13"
                            "imagearea14"
                            "imagearea15"
                            "imagearea16"
                            "imagearea17"
                            "imagearea18"
                            "imagearea19"
                            "imagearea20";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 700px) and (min-width: 501px) {
    a {font-size: 14px;}
    a:hover {font-size: 150%}
    .grid-container1{
        grid-template-areas:"headareaone headareatwo"
                            "imagearea1 imagearea2"
                            "imagearea3 imagearea4"
                            "imagearea5 imagearea6"
                            "imagearea7 imagearea8"
                            "imagearea9 imagearea10"
                            "imagearea11 imagearea12"
                            "imagearea13 imagearea14"
                            "imagearea15 imagearea16"
                            "imagearea17 imagearea18"
                            "imagearea19 imagearea20";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
}
}

@media screen and (max-width: 1024px) and (min-width: 701px) {
    a {font-size: 16px;}
    a:hover {font-size: 150%}
    .grid-container1{
        grid-template-areas:"headareaone headareaone headareatwo"
                            "imagearea1 imagearea2 imagearea3"
                            "imagearea4 imagearea5 imagearea6"
                            "imagearea7 imagearea8 imagearea9"
                            "imagearea10 imagearea11 imagearea12"
                            "imagearea13 imagearea14 imagearea15"
                            "imagearea16 imagearea17 imagearea18"
                            "imagearea19 imagearea20 imagearea21";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
}
}

footer{
    position: relative; bottom: 0;
}

.footercontainer{
    background-color:rgb(245, 83, 96) ;
    display: inline-flex;
    flex-direction: row;
    width: 99%;
    margin: 0px;
    padding: 2px;  
    box-shadow: 2px 2px 25px 10px rgb(116, 25, 32);
}

.footerrow{
    display: inline-table;
    width: 33.33%;
}

#footer1{
    width: 27%;
}

#footer2{
    width: 27%;
}

#footer3{
    width: 27%;
}

li{
    list-style: none;
    padding-bottom: 2%;
    padding-right: 0;
}

li>a{
    text-shadow: 1px 1px black;
    background-color:rgb(255, 180, 180);
    list-style: none;
}
 .footerlogo{
    width: auto;
 }

 .footercontact{
    width: auto;
    font-size: 18px;
 }

 .grid-container2 {
    display: grid;
    grid-template-areas: 'headone headone headone'
                         'left1 hero1 right1'
                         'left2 hero2 right2';                     
    grid-template-columns:30% 40% 30%; 
    gap: 3px;
    background-color: rgb(255, 180, 180);
    margin: 5px;
    padding: 0.2%;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 10px 10px 100px 150px rgb(245, 83, 96), 0px 0px 50px 5px rgb(116, 25, 32);
    grid-auto-flow: row;
}

 #hero1{
    grid-area: "hero1";
    
}

 #headone{
    grid-area: "headone headone headone";
    
 }

 #left1{
    grid-area: "left1";
    
 }

 #right1{
    grid-area: "right1";
    
 }

 *{
    box-sizing: border-box;
 }

 #heroimage{
    display: block;
    height: 30vw;;
    width:auto; 
    box-sizing: border-box;
    overflow: hidden;
 }

 .gridimg{
    width: 100%;
 }